.width-table {
  width: 90%;
}
th,
td {
  text-align: center;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.margin-cards, .mTop {
  margin-top: 30px;
}

.filter{
  width: 100%;
}