<div class="container-fluid width-table">
  <div class="row">
    <div class="col-4 align-self-center" >
      <button mat-raised-button (click)="abrirAltas()" color="primary"> <mat-icon fontIcon="person_add"></mat-icon>  Añadir alumno</button>
    </div>
    <div class="col-4"></div>
    <mat-form-field class="col-4 mTop">
      <mat-label>Filtro</mat-label>
      <input
        matInput
        (keyup)="aplicarFiltros($event)"
        placeholder="Nombre alumno"
        #input
      />
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let alumnos">{{ alumnos.id }}</td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef class="left-align">Nombre</th>
      <td mat-cell *matCellDef="let alumnos" class="left-align">
        {{ alumnos.firstName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef class="left-align">Apellido</th>
      <td mat-cell *matCellDef="let alumnos" class="left-align">
        {{ alumnos.lastName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef>Ultima modificación</th>
      <td mat-cell *matCellDef="let alumnos">
        {{ alumnos.update | date : "medium" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="matematicas">
      <th mat-header-cell *matHeaderCellDef>Matematicas</th>
      <td mat-cell *matCellDef="let alumnos">{{ alumnos.matematicas }}</td>
    </ng-container>

    <ng-container matColumnDef="espanol">
      <th mat-header-cell *matHeaderCellDef>Español</th>
      <td mat-cell *matCellDef="let alumnos">{{ alumnos.espanol }}</td>
    </ng-container>

    <ng-container matColumnDef="cienciasNaturales">
      <th mat-header-cell *matHeaderCellDef>Ciencias Naturales</th>
      <td mat-cell *matCellDef="let alumnos">
        {{ alumnos.cienciasNaturales }}
      </td>
    </ng-container>

    <ng-container matColumnDef="civismo">
      <th mat-header-cell *matHeaderCellDef>Civismo</th>
      <td mat-cell *matCellDef="let alumnos">{{ alumnos.civismo }}</td>
    </ng-container>

    <!-- <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Promedio</th>
      <td
        mat-cell
        *matCellDef="let alumnos"
        [ngClass]="{
          'bg-info-subtle': getTotal(alumnos.id) === 0,
          'bg-danger': getTotal(alumnos.id) < 6,
          'bg-warning': getTotal(alumnos.id) >= 6 && getTotal(alumnos.id) < 8,
          'bg-success': getTotal(alumnos.id) >= 8 && getTotal(alumnos.id) < 9,
          'bg-primary': getTotal(alumnos.id) >= 9
        }"
      >
        {{ getTotal(alumnos.id)!==0 ? (getTotal(alumnos.id) | number : "1.0-2") : "Nuevo"}}
      </td>
    </ng-container> -->

    <ng-container matColumnDef="online">
      <th mat-header-cell *matHeaderCellDef>Locación</th>
      <td
        mat-cell
        *matCellDef="let alumnos"
        [appOnline]="alumnos.online"
        class="text-light-emphasis"
      >
        <b>{{ alumnos | locacion }}</b>
      </td>
    </ng-container>

    <ng-container matColumnDef="accion">
      <th mat-header-cell *matHeaderCellDef>Acción</th>
      <td mat-cell
      *matCellDef="let alumnos"
      >
        <div class="row">
          <button class="col" mat-icon-button color="accent" matTooltip="Editar alumno: {{ alumnos | nombreCompleto}}" (click)="abrirEdicion(alumnos)"><mat-icon>edit</mat-icon></button>
          <button class="col" mat-icon-button color="warn" matTooltip="Eliminar alumno: {{ alumnos | nombreCompleto }}" (click)="eliminarUsuario(alumnos)"><mat-icon>remove</mat-icon></button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <br />

  <!-- <div class="container margin-cards">
    <div class="row justify-content-evenly">
      <div class="col-3">
        <mat-card class="reprobados">
          <mat-card-header>
            <mat-card-subtitle>Alumnos con calificación</mat-card-subtitle>
            <mat-card-title
              ><span class="text-danger">Reprobatoria</span></mat-card-title
            >
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <mat-list role="list">
              <ng-container *ngFor="let alumno of alumnos">
                <ng-container *ngIf="getTotal(alumno.id) < 6 && getTotal(alumno.id) !== 0">
                  <mat-list-item role="listitem">
                    {{ alumno | nombreCompleto }}
                  </mat-list-item>
                </ng-container>
              </ng-container>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-3">
        <mat-card class="reprobados">
          <mat-card-header>
            <mat-card-subtitle>Alumnos con calificación</mat-card-subtitle>
            <mat-card-title
              ><span class="text-success">Aprobatoria</span></mat-card-title
            >
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <mat-list role="list">
              <ng-container *ngFor="let alumno of alumnos">
                <ng-container *ngIf="getTotal(alumno.id) >= 6">
                  <mat-list-item role="listitem">
                    {{ alumno | nombreCompleto }}
                  </mat-list-item>
                </ng-container>
              </ng-container>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div> -->
  <br />
</div>
