<mat-drawer-container class="sidenav-container" hasBackdrop="true" autosize>
  <mat-drawer #drawer class="sidenav-size" mode="side">
    <p>¡Bienvenido al portal de alumnos!</p>
    <mat-list role="list">
      <mat-list-item>
        <a mat-flat-button href="https://github.com/GermanMF" target="_blank">
          Ve a mi gitHub
        </a>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="sidenav-content">
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        class="sidenav-icon"
        aria-label="icon-button with menu icon"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Sistema de alumnos</span>
      <span class="toolbar-spacer"></span>
      <span>{{ (authAlumno$ | async)?.firstName }}</span>
      <span>
        <form [formGroup]="authForm" (ngSubmit)="onSubmit()" id="authAlumno">
          <mat-form-field>
            <input matInput [formControl]="nombreAuthControl" placeholder="Nombre">
            <mat-error
              *ngIf="nombreAuthControl.hasError('required')"
            >
              Campo requerido
            </mat-error>
            <mat-error
              *ngIf="nombreAuthControl.hasError('minlength')"
            >
              Se esperan al menos 3 caractéres
        </mat-error>
            <mat-error
              *ngIf="nombreAuthControl.hasError('maxlength')"
            >
              Se esperan 15 caractéres como máximo
            </mat-error>
          </mat-form-field>
          <button mat-button type="submit" form="authAlumno" [disabled]="!authForm.valid" >Loguea</button>
        </form>
      </span>
      <a
        mat-icon-button
        href="https://github.com/GermanMF/1PFMartinez"
        target="_blank"
        class="sidenav-icon favorite-icon"
        aria-label="icon-button with info icon"
        matTooltip="Repositorio de este proyecto"
      >
        <mat-icon>info</mat-icon>
      </a>
      
    </mat-toolbar>
    <main>
      <app-alumnos></app-alumnos>
    </main>
  </div>
</mat-drawer-container>
