.sidenav-container {
  height: 100vh;
}

.sidenav-content {
  align-items: center;
  justify-content: center;
}

.toolbar-height {
  height: 100px;
}

.sidenav-size {
  padding: 50px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
